<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Bienvenidos a Mercado Libre</title>  
</head>
<body>
    <header class="main-header">
      <div class="main-header-top-bar">
          <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Aqui va el logo">
          <form class="buscador">
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button> 
          </form>
          <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
      </div>

            <a href="#" class="burger-menu">
             <i class="fas fa-bars"></i>
            </a>
      
      <nav class="main-navbar">
          <ul class="left-navbar">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
          </ul>

          <ul class="right-navbar">
            <li><a href="register">Crea tu cuenta  </a><i class="fas fa-id-card"></i></li>
            <li><a href="login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
          </ul>
      </nav>

       

    </header>

    <img src="/images/img-home-banner.jpg" alt="">

    <main>
        <section>
            <h4>Basado en tu última visita</h4>
            <div class="productos">
                <article>
                  <img src="/images/img-cafetera-moulinex.jpg" alt="Aqui va la cafetera">
                    <div>
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <h5 class="descripcion">Cafetera Moulinex</h5>
                    </div>
                </article>
                
             <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Aqui va la MacBook">
                <div>
                <i class="fas fa-truck"></i>
                
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                
                <h5 class="descripcion">MacBook Pro 2019</h5>
                </div>
             </article>
             
             <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="Aqui va el celular Samsung s10">
                <div>
                <i class="fas fa-truck"></i>
                
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                
                <h5 class="descripcion">Samsung Galaxy S10</h5>
                </div>
             </article>
             
             <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Aqui va el Smart TV">
                <div>
                <i class="fas fa-truck"></i>
                
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                
                <h5 class="descripcion">SmartTv Samsung 43"</h5>
                </div>
             </article>
             </div>
             
             </section>

             <section>
             <h4>Sección de Ofertas</h4>
             <div class="productos">
             <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Aqui va la cafetera">
                <div>
                <i class="fas fa-truck"></i>
                
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
                
                <h5 class="descripcion">Cafetera Moulinex</h5>
                </div>
             </article>
             
             <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Aqui va la MacBook">
                <div>
                <i class="fas fa-truck"></i>
                
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                
                <h5 class="descripcion">MacBook Pro 2019</h5>
                </div>
              </article>
              
              <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Aqui va el celular Samsung s10"><br>
                <div>
                <i class="fas fa-truck"></i>
                
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                
                <h5 class="descripcion">Samsung Galaxy S10</h5>
                </div>
              </article>
              
              <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Aqui va el Smart TV">
                <div>
                <i class="fas fa-truck"></i>
                
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                
                <h5 class="descripcion">SmartTv Samsung 43"</h5>
                </div>
              </article>
            </div>
            
        </section>

    </main>

    <footer>
      <div class="boton-footer">
        <div class="boton">
            <i class="fas fa-credit-card"></i>
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
          </div>  
           <div class="boton">
            <i class="fas fa-gift"></i>
            <strong>Envío gratis desde $ 2.500</strong>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
          </div>

           <div class="boton">
            <i class="fas fa-user-shield"></i>
            <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
          </div>
          </div>
          <div>
            <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
          </div> 
    </footer>
    
</body>
</html>